apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test
  template:
    metadata:
      labels:
        app: test
    spec:
      containers:
        - name: whalesay
          image: docker/whalesay:latest
          command: ["/bin/sh", "-c"]
          args: ["while true; do echo 'Hello from Whalesay!'; sleep 10; done"]
